<div class="content bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src="../../../../../assets/images/undraw_remotely_2j6y.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>

      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <br /><br /><br /><br />

              <h3>Add Enterprise !</h3>
            </div>

            <form
              [formGroup]="EnterpriseForm"
              (ngSubmit)="signup()"
              class="form"
            >
              <div class="form-group first">
                <label for="firstname">firstname</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  formControlName="firstname"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('firstname'),
                    'is-valid': isFieldValid('firstname')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  Firstname is required
                </small>
              </div>

              <div class="form-group first">
                <label for="lastname">Lastname</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  formControlName="lastname"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('lastname'),
                    'is-valid': isFieldValid('lastname')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  Lastname is required.
                </small>
              </div>

              <div class="form-group first">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  formControlName="username"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('username'),
                    'is-valid': isFieldValid('username')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  Username is required.
                </small>
              </div>

              <div class="form-group first">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('email'),
                    'is-valid': isFieldValid('email')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  email is required.
                </small>
              </div>

              <div class="form-group first">
                <label for="matFiscal">Matricule Fiscale</label>
                <input
                  class="form-control"
                  id="matFiscal"
                  formControlName="matriculeFiscale"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('matFiscal'),
                    'is-valid': isFieldValid('matFiscal')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  matFiscal is required.
                </small>
              </div>

              <div class="form-group first">
                <label for="address">Address</label>
                <input
                  class="form-control"
                  id="address"
                  formControlName="address"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('address'),
                    'is-valid': isFieldValid('address')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  address is required.
                </small>
              </div>

              <div class="form-group first">
                <label for="phone">Phone number</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">+216</div>
                  </div>

                  <input
                    type="number"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                    [ngClass]="{
                      'form-control': true,
                      'is-invalid': isFieldInvalid('phone'),
                      'is-valid': isFieldValid('phone')
                    }"
                  />
                </div>
                <small class="form-text text-danger" *ngIf="isInvalid">
                  phone est requis ou invalide.
                </small>
              </div>

              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  [ngClass]="{
                    'form-control': true,
                    'is-invalid': isFieldInvalid('password'),
                    'is-valid': isFieldValid('password')
                  }"
                />
                <small class="form-text text-danger" *ngIf="isInvalid">
                  Password is required.
                </small>
              </div>
              <!-- <p-button
                type="submit"
                icon="pi pi-external-link"
                label="Submit"
              ></p-button> -->

              <button type="submit" class="btn btn-block btn-primary">
                Sign Up
              </button>
            </form>

            <br /><br />

            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
