<div class="container m-4" *ngIf="homeItem?.canDisplay">
  <div class="d-flex justify-content-between align-items-center">
    <p-button
      id="add-*"
      label="Add"
      appSTPermission
      [screenName]="'Home'"
      styleClass="p-button-success"
    ></p-button>

    <p-button
      id="update-*"
      label="Modify"
      appSTPermission
      [screenName]="'Home'"
      styleClass="p-button-info mx-5"
    ></p-button>

    <p-button
      id="delete-*"
      appSTPermission
      [screenName]="'Home'"
      label="Delete"
      styleClass="p-button-danger"
    ></p-button>

    <!-- <p-button
      id="blablabla-*"
      appSTPermission
      label="blablabla"
      styleClass="p-button-danger"
    ></p-button> -->
  </div>
</div>
